$red: #ff0022;
$grey: #b9bab8;
$black: #04030f;
$lighter-grey: #767676;
$light-grey: #f7f7f7;
$slightly-grey: #d1d1d1;
$dark-grey: #484848;
$success-color: #82dd55;
$warning-color: #edb95e;
$error-color: #e23636;
